###### Requirements without Version Specifiers ######
matplotlib
pyperclip
black
kaleido
#
###### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers
matplotlib >= 3.8.4
pyperclip >= 1.8.2
black >= 24.4.2
kaleido >= 0.2.1
