/* 共通のスタイル */
body {
  font-family: Arial, sans-serif;
}

/* リンクのスタイル */
a {
  color: #2a7def; /* リンクのカラーを青に設定 */
}


/* 水平線のスタイル */
hr {
  border: none; /* ボーダーを削除 */
  color: #858585; /* 水平線のカラーを青に設定 */
}


/* ダークモードのスタイル */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #0c1414; /* ダークモードの背景色 */
    color: #e0eaedea; /* ダークモードのテキストカラー */
  }
}
