/* 共通のスタイル */
body {
  font-family: Arial, sans-serif;
}

h1 {
  color: #333; /* デフォルトのテキストカラー */
}

p {
  line-height: 1.5;
}

/* ダークモードのスタイル */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #0c1414; /* ダークモードの背景色 */
    color: #fff; /* ダークモードのテキストカラー */
  }

  h1 {
    color: #ff9900; /* ダークモードの見出しのカラー */
  }
}
